*{
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: #E6E6FA;
}

nav {
  background-color: lightpink;
  font-size: 1.5em;
  width: 100%;
  height: 2em;
  text-shadow: 2px 2px 2px gray;


  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  gap: 1em; /* optional spacing between links */
}

nav a{
  text-decoration: none;
  color: white;
  font-family: Comic Sans MS;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('fam.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: Georgia;
}

header h1{
  color: white;
  text-shadow: 4px 4px 4px gray;
  font-size: 3.5em;
  display: flex;
  align-items: center;
  padding-top: 30px;
}

header button{
  background-color: orange;
  border-radius: 30px;
  padding: 9px;
  font-size: 30px;
  color: white;
  
}
header a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}


#home{
  border: 5px solid gray;
  border-radius: 30px;
  background-color: lightpink;
  margin: 30px 10px 10px 10px;
  text-align: center;
}

#home h3, #home p{
  text-align: center;
  font-size: 2em;
  font-family: Georgia;
  color: white;
  text-shadow: 3px 3px 3px gray;
  padding: 10px;
  
}

#momPic{
  text-align: center;
  border-radius: 100px;
  border: 3px solid gray;
}
#messages h3{
  border: 5px solid gray;
  border-radius: 30px;
  background-color: lightpink;
  margin: 30px 10px 10px 10px;
  text-align: center;
  margin-top: 150px;
  color: white;
  padding: 10px;
  font-size: 2em;
  text-shadow: 3px 3px 3px gray;
}
#mess1{
  border: 5px solid gray;
  border-radius: 30px;
  background-color: lightpink;
  margin: 30px 10px 10px 10px;
  text-align: center;
  color: white;
  font-size: 1.7em;
  text-shadow: 3px 3px 3px gray;
  border-radius: 0 20px 20px 20px;
}

#mess2{
  border: 5px solid gray;
  border-radius: 30px;
  background-color: lightpink;
  margin: 30px 10px 10px 10px;
  text-align: center;
  color: white;
  font-size: 1.7em;
  text-shadow: 3px 3px 3px gray;
  border-radius: 0 20px 20px 20px;
  padding: 10px;
}

footer{
  width: 100%;
  height: 3em;
  background-color: lightblue;
  text-align: center;
  color: white;
  font-size: 2em;
  text-shadow: 3px 3px 3px gray;
}